* {  margin: 0;
    padding: 0;}
    body { font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;    }

.cv { width: 1280px;
    margin: auto; }
.cv h1 { font-size: 50px;
         margin: 50px 0px 0px 70px;
        color: cyan;}
.cv p { margin-left: 70px;}
.pictures img { height: 400px;
                 width: 320px;
                 float:right;
                 padding-right: 100px;
                                       }
.content { margin: 50px 70px;}
.content h4 {margin-top: 20px;}
.content li {padding-top: 10px;}
.content h3 {padding-top: 20px;}